<section id="banner">
				<div class="inner">
					<h2>TaxiExpress</h2>
					<p>Pide tu taxi ya!!</p>
					<ul class="actions">
						<li><a href="#content" class="button big special">Inicia Sesions</a></li>
						<li><a href="#elements" class="button big alt">Registrarse</a></li>
					</ul>
				</div>
</section>