<section id="banner"> 
   <div class="inner">
	 <h2>TaxiExpress</h2>
		<p>Pide tu taxi ya!!</p>
		  <ul class="actions">
	       <li><%= button_to "Ingresar Ahora", sesion_primario_path, :id => "boton1", :class => "button big special", :method => :get %></li>	                    
		   <li><%= button_to "Registrarse", new_conductor_registro_path, :id => "boton1", :class => "button big alt", :method => :get %></li>			
				
			</ul>
	</div>
</section>