<section id="banner"> 
   <div class="inner">
		  <ul class="actions">
	   <%= button_to "                   CLIENTE               ", iniciar_client_path, :id => "boton1", :class => "button big special", :method => :get %>	                    
	   <%= button_to "     CONDUCTOR    ", iniciar_chofer_path, :id => "boton1", :class => "button big alt", :method => :get %>			
	   <%= button_to "     OPERADOR    ", operator_admin_path, :id => "boton1", :class => "button big special", :method => :get %>	
			</ul>
	</div>
</section>
<%= link_to 'Back', root_path %>