html{
  background-image: url('azul.jpg') 
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.be-yelow{
   background-color: #feb645;
}
.white{
    color: blue;
}
.large-padding{
    padding: 15px 20px;
    border-width: thick;
		border-style: dotted;
		border-color: #2E2E2E;
}
h1{
    text-align: center
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.transparente{

 opacity: 0.8;

 -moz-opacity: 0.8;

 filter: alpha(opacity=80);

 -khtml-opacity: 0.8;

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    padding: 5px 5px;
    
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}





